body{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.task-container {
    display: grid;
    place-items: center;
    border: 1px solid black;
    width: 500px;
    
}
img{
    width: 60px;
    height: 60px;
}
.headingdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin-bottom: 30px;

}
form{
    border: 1px solid black;
    display: flex;
    align-items: center;
    border-radius: 20px;
    height: 60px;
    width: 305px;
}
.taskname{
    border: none;
    outline: none;
    width: 250px;
    height: 40px;
    font-size: 25px;
    margin-left: 6px;
   
}
.addbutton{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    cursor: pointer;

}
.tasklist{
    width: 400px;
    text-decoration: none;
    display: flex;
    border: 1px solid black;
    margin-left: -40px;
    align-content:space-between ;
    margin-bottom: 15px;
   
}
.checkboxdiv{
    display: flex;
    align-items: center;
   
    padding-left: 5px;
    
}
.tasknamediv {
    display: flex;
    align-items: center;
    width: 310px;
    border: 1px solid darkblue;
    margin-left: 8px;
    overflow-wrap: break-word;
    height: 40px;
}
.deletediv {
    display: flex;
    align-items: center;
    padding-left: 10px;
    
}
.checkbox{
    height: 22px;
    width: 22px;
}
.input{
    font-size: 20px ;
    font-weight: bolder;
    font-family: sans-serif;
   
}
